<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="HOME_LOG" value="logs/bankdemoboot-logback.log"/>
    
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
        <Pattern>
            %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
        </Pattern>
    </layout>
    </appender>
    <appender name="FILE-ROLLING" class="ch.qos.logback.core.RollingFileAppender">
        <file>${HOME_LOG}</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>${HOME_LOG}/archived/bankdemoboot-logback-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- total size of all archive files, if total size > 100MB, 
				it will delete old archived file -->
            <totalSizeCap>100MB</totalSizeCap>
            <!-- 10 days to keep -->
            <maxHistory>10</maxHistory>
        </rollingPolicy>        
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>
    <logger name="logger" level="warn" additivity="false">
        <appender-ref ref="FILE-ROLLING"/>
    </logger>    

</configuration>