<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Password change</title>
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />
<link th:rel="stylesheet" th:href="@{/css/stylish.css}">

</head>
<body>

	<div class="container pt-5">
		<h3>Password change</h3>
		<hr>
		<br>

		<form th:action="@{/accounts/password/{phone}(phone=${phone})}"
			th:object="${password}" th:method="patch">
			<label for="oldPassword">Old password</label> <input type="password"
				th:field="*{oldPassword}" id="oldPassword"
				placeholder="Old password"> <label for="newPassword">New
				password</label> <input type="password" th:field="*{newPassword}"
				id="newPassword" placeholder="New password">

			<button type="submit" class="btn btn-success">Confirm</button>

			<br>
			<p th:if="${#fields.hasErrors('oldPassword')}" th:errorclass="error"
				th:errors="*{oldPassword}" />
			<p th:if="${#fields.hasErrors('newPassword')}" th:errorclass="error"
				th:errors="*{newPassword}" />
			<p th:text="${message}" class="error" />
			<p th:text="${success}" class="fine" />
		</form>
	</div>

</body>
</html>