<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Admin's area</title>
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
	<link th:rel="stylesheet" th:href="@{/css/stylish.css}">	
	<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/search.js}"></script>
	<style>
		.page-item.active .page-link {background-color: #d63384 !important;
		 border: 1px solid black;}
	    .page-link {color: black !important;}
	</style>
</head>
<body>

<div class="container pt-5">
<h3>Admin's area</h3>
<hr>
<br>
	<p th:text="${admin.name} + ' ' + ${admin.surname}"/>
	<p sec:authentication="principal.authorities"/>
<!-- <form th:action="@{/accounts/password/{phone}(phone=${admin.phone})}" method="get">
	<button type="submit" class="btn btn-secondary">Change password</button>
</form> -->
<div>
<a class="btn btn-secondary" th:href="@{/accounts/password/{phone}(phone=${admin.phone})}"
 target="_blank">Change password</a>
</div>
<br>


<div sec:authorize="hasRole('CLIENT')">
	<a th:href="@{/accounts/show/{phone}(phone=${admin.phone})}">
	<button type="button">Private</button></a>
</div>
<br>

<div sec:authorize="hasRole('ADMIN')">
<input type="button" value="Health" onclick="window.open('/bankdemo/actuator/health', '_blank')">
<input type="button" value="Info" onclick="window.open('/bankdemo/actuator/info', '_blank')">
<input type="button" value="System" onclick="window.open('/bankdemo/actuator/metrics', '_blank')">
</div>
<hr>
<br>

<!-- <div sec:authorize="hasRole('ADMIN')">
<form th:action="@{/accounts/search}" method="get">
	<input type="text" th:name="phone" id="phone" class="form-control" pattern="^[0-9]{10}"
	 placeholder="Phone" required autofocus style="width:auto"/>
	<button type="submit" id="search" class="btn btn-info">Search</button>
</form>	
</div> -->
<div sec:authorize="hasRole('ADMIN')">
<form id="search_form">
	<p th:text="${message}" class="error" id="message"/>
	<input type="text" th:id="phone" class="form-control" placeholder="Phone"
	 required autofocus style="width:auto"/>
	 <p>
	<button type="submit" class="btn btn-primary" id="search">Search</button>
	<input type="button" class="btn" value="Clients list"
	 onclick="window.open('/bankdemo/accounts/list', '_blank')"
	 style="background-color: #d63384">
	</p>
</form>
<br>	

</div>

<hr>
<br>

<!-- <div sec:authorize="hasRole('ADMIN')" th:if="${target}"> -->
<div sec:authorize="hasRole('ADMIN')">
<table class="table table-hover table-sm" id="client_table">
	<thead>
		<tr>
			<th style="text-align: center;">Id</th>
			<th style="text-align: center;">Name</th>
			<th style="text-align: center;">Surname</th>
			<th style="text-align: center;">Phone</th>
			<th></th>
			<th style="text-align: center;">Birthday</th>
			<th style="text-align: center;">Active</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
<!-- 	<tr>
		<td class="align-middle" align="center" th:text="${target.id}"></td>
	    <td class="align-middle" align="center" th:text="${target.name}"></td>
	    <td class="align-middle" align="center" th:text="${target.surname}"></td>
	    <td class="align-middle" align="center" th:text="${target.phone}"></td>
	    <td></td>
	    <td class="align-middle" align="center"
	     th:text="${#temporals.format(target.birthday, 'yyyy-MM-dd')}"></td>
	    <td class="align-middle" align="center" th:text="${target.active}"
	     th:id="account_bool"></td>
	    
	    <td class="align-middle" align="center">
	    <div>
	    <form th:action="@{/accounts/status/{phone}(phone=${target.phone})}"
			 	th:method="patch" style='display:inline;'>
    			<button type="submit" class="btn btn-danger"
				onclick="if (!(confirm('Are you sure you want to switch the status?')))
				return false">Switch<br/>status</button>
			</form>
			<button type="submit" class="btn btn-danger account_status" th:value="${target.id}"
				onclick="if (!(confirm('Are you sure to switch the status?')))
				return false">Switch<br/>status</button>
		</div>
		</td>
	</tr> -->
	</tbody>
</table>
</div>
<br>

<!-- <div sec:authorize="hasRole('ADMIN')" th:if="${target}"> -->
<div sec:authorize="hasRole('ADMIN')">
<table class="table table-hover table-sm" id="bill_table">
	<thead>
		<tr>
			<th style="text-align: center;">Id</th>
			<th style="text-align: center;">Balance</th>
			<th style="text-align: center;">Currency</th>
			<th style="text-align: center;">Active</th>
			<th style="text-align: center;">Actions</th>									
		</tr>
	</thead>
	<tbody>
<!-- 		<tr th:each="bill: ${target.bills}">
			<td class="align-middle" align="center" th:text="${bill.id}"></td>
		    <td class="align-middle" align="center" th:text="${bill.balance}"></td>
		    <td class="align-middle" align="center" th:text="${bill.currency}"></td>
		    <td class="align-middle" align="center" th:text="${bill.active}"
		     th:id="bill_bool + ${bill.id}"></td>
		    
		    <td class="align-middle" align="center">
		    <div>
		    <form style='display:inline;'
		    	 	th:action="@{/bills/status/{phone}(phone=${target.phone})}"
				 	th:method="patch">
					<input type="hidden" th:name="id" th:value="${bill.id}"/>			 
	    			<button type="submit" class="btn btn-danger"
					onclick="if (!(confirm('Are you sure you want to switch the status?')))
					return false">Switch<br/>status</button>
				</form>
				<button type="submit" class="btn btn-danger bill_status" th:value="${bill.id}"
					onclick="if (!(confirm('Are you sure to switch the status?')))
					return false">Switch<br/>status</button>
			<form th:action="@{/operations/list}" method="get" style='display:inline;'>
					<input type="hidden" th:name="id" th:value="${bill.id}"/>
					<input type="hidden" th:name="phone" th:value="${target.phone}"/>			 
		    		<button type="submit" class="btn btn-primary" id="show">
		    		Show<br/>events</button>
				</form>			
	    		<button type="submit" class="btn btn-primary show_events" th:value="${bill.id}">
	    			Show<br/>events</button>
			<form th:action="@{/operations/print}" method="post" style='display:inline;'>
					<input type="hidden" th:name="id" th:value="${bill.id}"/>
					<input type="hidden" th:name="target" th:value="${target.id}"/>
	    			<button type="submit" class="btn btn-success export_csv">
	    			Export<br/>to CSV</button>
				</form>
	    		<button type="submit" class="btn btn-success export_csv" th:value="${bill.id}">
	    			Export<br/>to CSV</button>
			</div>									
			</td>
		</tr> -->
	</tbody>
</table>
</div>
<br>

<!-- <div sec:authorize="hasRole('ADMIN')" th:if="${target}"> -->
<div sec:authorize="hasRole('ADMIN')">
<table class="table table-hover table-sm" id="info_table">
	<thead>
		<tr>
			<th style="text-align: center;">Id</th>
			<th style="text-align: center;">Event</th>
			<th></th>
			<th style="text-align: center;">Amount</th>
			<th style="text-align: center;">Currency</th>
			<th style="text-align: center;">From</th>
			<th style="text-align: center;">To</th>
			<th></th>
			<th style="text-align: center;">When</th>
		</tr>
	</thead>
	<tbody>
<!-- 	<tr th:each="operation : ${operations}">
		<td align="center" th:text="${operation.id}"></td>		
	    <td align="center" th:text="${operation.action}"></td>
	    <td></td>	    
	    <td align="center" th:text="${operation.amount}"></td>
	    <td align="center" th:text="${operation.currency}"></td>
	    <td align="center" th:text="${operation.sender}"></td>
	    <td align="center" th:text="${operation.recipient}"></td>
	    <td></td>
	    <td align="center" th:text="${operation.timestamp}"></td>
		</tr> -->
	</tbody>
	<tfoot>
	</tfoot>	
</table>
	<ul class="pagination justify-content-center" style="cursor: pointer;"></ul>
</div>
<br>

<form th:action="@{/logout}" method="post">
	<input type="submit" th:value="LogOut" class="btn btn-warning"/>
</form>
</div>

</body>
</html>