<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="UTF-8">
	<title>Fragments</title>
</head>
<body>

<div th:fragment="header">
	<span th:text="${account.name} + ' ' + ${account.surname}"></span>
	<span sec:authentication="principal.authorities"></span>
<!-- <form th:action="@{/accounts/password/{phone}(phone=${account.phone})}" method="get">
	<button type="submit" class="btn btn-secondary">Change password</button>
</form> -->
	<div>
		<a class="btn btn-secondary" th:href="@{/accounts/password/{phone}(phone=${account.phone})}"
		 target="_blank">Change password</a>
	</div>
</div>

<div th:fragment="footer">
	<form th:action="@{/logout}" method="post">
		<input type="submit" th:value="LogOut" class="btn btn-warning"/>
	</form>
</div>

</body>
</html>