<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Password change</title>
	<style>
	    .error {
	        color: red;
	    }
	</style>
</head>
<body>

<h3>Password change</h3>
<hr>
<br>

<form th:action="@{/bankdemo/accounts/password/{phone}(phone=${phone})}" th:object="${password}"
 th:method="patch">
	<label for="oldPassword">Old password</label>
	<input type="password" th:field="*{oldPassword}" id="oldPassword" placeholder="Old password">
	<label for="newPassword">New password</label>
	<input type="password" th:field="*{newPassword}" id="newPassword" placeholder="New password">
	<br>
	
	<button type="submit" class="btn btn-primary">Confirm</button>
	
	<br>
	<p th:if="${#fields.hasErrors('newPassword')}" th:errorclass="error" th:errors="*{newPassword}"/>
	<p th:text="${message}" class="error"/>		
</form>
<br>

</body>
</html>