<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Password change</title>
	<style>
	    .error {
	        color: red;
	    }
	</style>
</head>
<body>

<h3>Password change</h3>
<hr>
<br>

<form th:action="@{/bankdemo/accounts/password/{phone}(phone=${phone})}" th:method="patch">
	<label for="oldPassword">Old password</label>
	<input type="password" th:name="oldPassword" placeholder="Old password">
	<label for="newPassword">New password</label>
	<input type="password" th:name="newPassword" placeholder="New password">
	<br>
	<button type="submit" class="btn btn-primary">Confirm</button>
</form>
<br>
	<p th:text="${message}" class="error"/>

</body>
</html>